.next-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17414a;
  color: #fff;
  display: grid;
  place-items: center;
  text-align: center;
}

.correct-answer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
}

.correct-answer > p {
  padding: 5px;
  background: #17414a;
  color: #5c98a5;
  font-weight: bolder;
}

.next-level div > button {
  padding: 3px 6px;
  color: #17414a;
  background: #35727f;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
}
